/* Global Styling */
html, body {margin:0px; padding: 0px;}

nav {
    background-color: #34495e;
    height: 80px;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 999;
}

#logo {height: 80px; margin-left: 20px;}

.wrapper {
    padding: 50px 50px;
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.right {float: right !important;}
/* Image zoom on hover + Overlay colour */
.parent {
    width: 45%;
    margin: 20px;
    height: 300px;
    border: 1px solid blue;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
  cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* Several different images */
.bg-one {background-image: url(https://cdn.discordapp.com/attachments/848300536561139742/848578892913967104/nombre.png);}
.bg-two {background-image: url(https://cdn.discordapp.com/attachments/848300536561139742/848578892913967104/nombre.png);}
.bg-three {background-image: url(https://cdn.discordapp.com/attachments/848300536561139742/848578892913967104/nombre.png);}
.bg-four {background-image: url(https://cdn.discordapp.com/attachments/848300536561139742/848578892913967104/nombre.png);}
.bg-five {background-image: url(https://cdn.discordapp.com/attachments/848300536561139742/848578892913967104/nombre.png);}
.bg-six {background-image: url(https://cdn.discordapp.com/attachments/848300536561139742/848578892913967104/nombre.png);}


a {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    /*text-decoration: none;*/
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

/* Media Queries */
@media screen and (max-width: 960px) {
    .parent {width: 100%; margin: 20px 0px}
    .wrapper {padding: 20px 20px;}
}




.hello {display: none}